<main role="main" class="section">
  <%= unless is_nil(get_flash(@conn, :info)) do %>
    <div class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></div>
  <% end %>
  <%= unless is_nil(get_flash(@conn, :error)) do %>
    <div class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></div>
  <% end %>
  <%= @inner_content %>
</main>
