<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ResQ", suffix: " · Phoenix Framework" %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <h1 class="title is-4">ResQ</h1>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <div class="field has-addons">
                <div class="control">
                  <input class="input" type="text" placeholder="Find ICUs">
                </div>
                <div class="control">
                  <a class="button is-info">Search</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="navbar-end">
        <a class="navbar-item">Update ICU info</a>
        <a class="navbar-item">Browse ICUs</a>

          <%= if Pow.Plug.current_user(@conn) do %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-item"><%= @current_user.email %></a>

              <div class="navbar-dropdown">
                <a href="" class="navbar-item">Dashboard</a>
                <hr class="navbar-divider">
                <a href="" class="navbar-item">Profile</a>
                <hr class="navbar-divider">
                <span class="button is-warning">
                  <%= link "Sing out", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
                </span>
              </div>
            </div>
          <% else %>
            <div class="navbar-item">
              <div class="buttons">
                <div class="button is-light">
                  <%= link "Register", to: Routes.pow_registration_path(@conn, :new) %>
                </div>
                <div class="button is-light">
                  <%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %>
                </div>
              </div>
            </div>
          <% end %>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
